<h1>This is the route on google map</h1>

    <div id="map"></div>
    
    <div id="directions-panel"></div>
    </div>
    <script>
      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: {lat: 47.84, lng: -122.27}
        });
        directionsDisplay.setMap(map);
        directionsService.route({
          origin: "Seattle, WA",
          destination: "Everett, WA",
          waypoints: [{
          	location: "Lynnwood, WA",
          	stopover: true
          }],
          optimizeWaypoints: true,
          travelMode: google.maps.TravelMode.DRIVING
        }, function(response, status) {
          if (status === google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
            var route = response.routes[0];
            var summaryPanel = document.getElementById('directions-panel');
            summaryPanel.innerHTML = ''	;
            // For each route, display summary information.
            for (var i = 0; i < route.legs.length; i++) {
              var routeSegment = i + 1;
              summaryPanel.innerHTML += '<b>Route Segment: ' + routeSegment +
                  '</b><br>';
              summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
              summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
              summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
            }
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
      // console.log(process.env.GOOGLE_KEY);
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=" + process.env.GOOGLE_KEY + "&callback=initMap">

    </script>
  </body>
</html>