<h1>Edit form for user preference</h1>

<form action="/api/profile/<%= firebaseId??? %>" method="POST" role="form">
	<legend>Preferences</legend>

	<div class="form-group">
		<label>label</label>
		<input type="text" class="form-control" id="" placeholder="Input field">
		<label>label</label>
		<input type="text" class="form-control" id="" placeholder="Input field">
		<label>label</label>
		<input type="text" class="form-control" id="" placeholder="Input field">
		<label>label</label>
		<input type="text" class="form-control" id="" placeholder="Input field">
	</div>

	

	<button type="submit" class="btn btn-primary">Submit</button>
</form>